.App {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.btn-todo{
  display: inline-block;
  
  margin: 0px 30px;
  padding: 12px;
}

.btn-todo>button{
  margin:0px 8px;
}
